body{
	margin:0;
	background-color: #f9f9f9;
	font-family: 'Karla', sans-serif;

}

.landing{
	color: #bebebe;
	padding: 10% 10vw;
	max-width: 500px;
	margin-top: 0;
	font-weight: 100;


}

a{
	text-decoration: none;
}

.landing-wrapper{
	background-color: rgba(0,0,0, .9);
/*	background: linear-gradient(#273463, #8B4256);*/
	height:900px;
	width:auto;

}

.landing p{
	line-height: 1.5em;
	font-size: 16px;
}

.intro a{
	color: #bebebe;
	text-decoration: none;
	font-style: bold;
	border-bottom: 1px solid rgba(255, 0, 118, 1);

}

.name-wrapper{
	border-bottom: 1px solid lightgrey;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	color: white;
}

.name-wrapper h1{
	font-size: 4em;
	line-height: 1em;
	margin-bottom: 15px;
	margin-top: 0;
	font-weight: 100;
}

.cross-line{
	text-decoration: line-through;
	color:white;
}

.contact-info a{
	color: #bebebe;
	margin-right: 8px;
}

.wrapper{
    padding: 15% 10vw;
    padding-top: 50px;
    padding-bottom: 0px;

}

.selected-work-title{
	max-width: 160px;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0,0,0, .9);
}

.other-cool-stuff-title{
	max-width: 180px;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0,0,0, .9);
}

.story {
	display: inline-block;
	margin-right: 70px;
	max-width: 300px;
	vertical-align: top;
	border-bottom: 2px solid rgba(0,0,0, .1);
	margin-top: 30px;

}

.other-story {
	display: inline-block;
	margin-right: 30px;
	width: 190px;
	height: auto;
	vertical-align: top;
	margin-top: 30px;
}

.others_imglink{
	width: 190px;
	height: 190px;
	opacity: .4;
}

.others_imglink:hover{
	transition: all .4s;
	opacity: 1;
}

.story:hover{
	-webkit-animation:colorchange 5s infinite alternate;
}


.others-inner-wrap{
	background-color: rgba(0,0,0, 1);
	width: 190px;
	height: 190px;
	text-decoration: none;	
	box-shadow: 4px 4px 7px -2px rgba(0,0,0,.3);
/*	-webkit-filter: grayscale(90%);
    filter: grayscale(90%);*/
}


.others-inner-wrap:hover{
	transition: all .4s;
    opacity: 1;
    background-color: white;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#other-wrapper{
	padding-bottom: 50px;
}

.inner-wrap{
	/*background-color: rgba(0,0,0, 1);*/
	background: linear-gradient(#7f0000, #206877);
/*	background: linear-gradient(135deg,rgba(255,101,100,.4) 0,rgba(255,101,100,0) 50%,rgba(255,101,100,0) 100%),linear-gradient(45deg,rgba(40,0,215,0) 0,rgba(40,0,215,0) 50%,rgba(40,0,215,.4) 100%),linear-gradient(transparent 1%,rgba(0,0,0,.8) 100%);
*/	width: 300px;
	height: 200px;
	margin-bottom: 10px;
	text-decoration: none;	
	box-shadow: 4px 4px 7px -2px rgba(0,0,0,.3);
}


.inner-wrap:hover{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all .4s;
    opacity: 1;
}

.inner-wrap img:hover{
	transition: all .4s;
    opacity: 1;
    background-color: white;
}

.inner-wrap p{
	text-decoration: none;
}

.inner-wrap img{
	width: 100%;
	height: 200px;
	opacity: .5;
}

.category{
	margin-bottom: 5px;
	margin-top: 4px;
	max-width: 100px;
	color: white;
	padding: 5px;
	z-index: 10000;
	position: absolute;
	font-size: 0.8em;
	

}

#clip .category{
	background-color: rgba(0,0,0, .8);
	border-radius: 8px;
	margin-left: 4px;
}

#other-wrapper .category{
	margin-bottom: 5px;
	margin-top: 15px;
	max-width: 100px;
	color: white;
	padding: 5px;
	z-index: 10000;
	position: absolute;
	font-size: 0.8em;


}

.others_pub{
	margin-bottom: 5px;
	margin-top: 0px;
	max-width: 150px;
	color: white;
	padding: 5px;
	z-index: 10000;
	position: absolute;
	font-size: 0.8em;
}

.note{
	font-size: 0.8em;
	margin-top: 8px;
	margin-bottom: 5px;
	color: #696969;
}

.work-label{
	/*text-transform: uppercase;
*/	font-weight: 800;
	font-size: 0.9em;
}

@-webkit-keyframes colorchange {
      0% {
        
        color: black;
      }
      
      20% {
        
        color: #325170;
      }
      
      40% {
        
        color: #00004C;
      }
      
      60% {
        
        color: #7f0000;
      }
      
      80% {
        
        color: #008080;
      }
      
      100% {
        
        color: #34495e;
      }

    }

@media (max-width: 400px) {
  	.others_imglink{
		width: 280px;
		height: 280px;
	}

	.others-inner-wrap{
		width: 280px;
		height: 280px;
	}

	.story{
		margin-right: 0px;
	}
}
