.intro .font1{
	/*color:rgba(29, 168, 183,1);
	color:#B21F26;*/
	/*font-family:"Oswald";
	font-size:1.4em;*/
	/*font-weight: 500;*/

}

.intro .font2{
	/*font-family:"Oswald";*/
	/*font-size:1.4em;
	font-weight: 200;*/
	opacity: .5;
	/*font-weight: 500;*/
}

.intro a{
	text-decoration: none;
	border-bottom: 2px solid #B21F26;
}



h1{
	/*letter-spacing:-1px;*/
	/*font-family: "Roboto";*/
	/*font-family:"play";*/
	font-family:"Roboto";
	font-size:40px;
	font-weight: 200;
	/*opacity: .8;*/
}

i{
	margin:2px;
}

i:hover{
    color:#B21F26!important;
    background-color: white !important;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
 }

 .icon a:hover{
 	background-color: white !important;
 }

/*.intro{
	margin-bottom: 20px;
}*/

p{
	font-family: 'Crimson Text';
	font-size:16px;
	opacity:0.9;
	/*font-family:"Roboto", Helvetica, Arial, sans-serif;*/
	font-weight: 300;
	line-height: 1.5em;
}

a{
	font-weight: 600;
	color:black;
	
}

a:hover{
	/*color:#B21F26;*/
	color:black;
	/*text-decoration: none;
	border-bottom: 1.5px solid #B21F26;*/
	background-color: rgba(233,129,134,.3);
	text-decoration: none;
	-webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

img{
	width: 165px;
	height: 165px;
	/*border-right: 3px;*/

	/*filter: saturate(120%);
	-webkit-filter: saturate(120%);*/
	box-shadow: 4px 4px 7px -2px rgba(0,0,0,.3);
}

img:hover{

	/*filter: none;
	webkit-filter: none;*/
	/*-webkit-filter: none;  */
}

body{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#clip{
	margin-left: auto;
	margin-right: auto;
	width: 90%; 
    max-width: 1200px; 
    margin-top: 50px;
/*	width: 90%*/
}

.story{
	width: 165px;
	height: 300px;
	margin: 20px;
	/*background-color: #F4F4F4;*/
	float: left;
	display: inline;
	overflow: hidden;
	position:relative;
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	/*border-radius: 1px;*/
	text-align: center;
	/* box-shadow: 2px 2px 2px #ccc;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;*/
	
}

.story a{
	font-weight: 500;
	font-size: 13px;
}

.pub{
	font-family:"play",Helvetica, Arial;
	font-size: 11px;
	color: #999;
}

.note{
	font-family:"play",Helvetica, Arial;
	font-size: 11px;
	margin-top: -10px;
	color: #999;
}

.imglink{
	margin: 0 5px 5px 0;
	/*border: 12px #fff solid;*/
	/*width: 95%;*/
	/*display:inline;*/
	/*overflow: hidden;*/
	position:relative;
}

.work-label {
	/*position: absolute;*/
	/*top: 90%;*/
	/*background-color: white;
	background:rgba(255,255,255,.9);
*/	width: 90%;
	font-size: 12px;
	/*padding: 4px 7px;*/
	/*border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;*/
	/*font-weight: bold;*/
	color: black;
	font-family: 'Roboto';
/*	font-family: "Libre Baskerville";*/
	/*line-height: .7;*/
/*	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;*/
	/*display:inline-block;*/
	
}


.element{
	background-color: rgba(0,0,0,.9);
	color:white;
	padding-left: 5px;
	padding-right:5px;
	}