/*.work-img{
	max-width: 400px;
}*/

a{
 
	color: #ff0000;
	font-weight: 500;
	/*text-decoration: none;*/
	font-family: 'roboto', sans-serif;
	/*text-decoration-color:rgba(255, 0, 118, 1);*/
	text-decoration: none;
   /* border-bottom: 2px solid rgba(255, 0, 118, 1);*/

}

.cross-line{
	text-decoration: line-through;
}

.contact-info a{
	text-decoration: none;
    border-bottom: 0;
    color: #282828;
   
}

.intro{
	margin-top: -5px;
	margin-bottom: -5px;
}

.contact-info{
	 margin-top: 20px;
}

body{
	font-family: 'roboto', sans-serif;
	font-weight: 400;
}


.name-wrapper h1 {
    font-size: 2.8em;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
}

.big-containner{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.landing{
	max-width: 400px;
}

.center-ele{
	margin-left: auto;
	margin-right: auto;

}

.wrapper{
	max-width: 770px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.landing-wrapper{
	max-width: 770px;
}

.grid-item { 
	width: 180px;
	margin-bottom: 15px;
	float: left;
 }

 .name-container{
 	border-top: 2px solid #282828;
 }

 .note{
 	margin: 4px;
 	font-size: 12px;
 	display: block;
 	color: #282828;
 	padding: 0px;
 }

 .pub{
	position: absolute;
    background-color: #282828;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-left: -2px;
    font-size: 11px;
 }

 .img-container{
 	width: 100%;
 	height: auto;
 }

 .inner{
 	position: relative;
 	border: 3px solid #282828;
	border-radius: 3px;
	transition: all .4s;
 }

#clip a{
 	text-decoration: none !important;
 	font-family: 'roboto', sans-serif;
 	font-weight: 400;
 }

img {
	width: 100%;
}

.story:hover{
	z-index: 1000;
}



.story:hover .inner {
    top: -8px;
    background-color: #fff;
    box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.3);
}

@media (max-width: 845px) {
  .wrapper{
    max-width: 570px;
  }

  .landing-wrapper{
	max-width: 570px;
	}
}

@media (max-width: 585px) {
  .wrapper{
    max-width: 380px;
  }

  .landing-wrapper{
	max-width: 380px;
	}
}

@media (max-width: 390px) {
  .wrapper{
    max-width: 300px;
  }

  .landing-wrapper{
	max-width: 300px;
	}

  .contact-info{
  	text-align: center;
  }	

  .name-wrapper h1{
  	font-size: 2.3em;
  }
  .intro{
  	font-size: 14px;
  	/*text-align: center;*/
  }

  br{
  	display: none;
  }

  .grid-item { 
	width: 300px;
 }
}