#g-sparks{
	max-width: 900px;
}

.small-multiple-sparks{
	width: 90px;
	height: 45px;
	display: inline-block;
	background-color: #181523;
	margin: 3px 5px 3px 5px;
	vertical-align: top;
	box-shadow: 4px 4px 7px -2px rgba(211,211,211, .1);
}

.sparks-rep-names{
	font-size: 10px;
	line-height: 1.2em;
}