/*.search-dropdown{
	width: 180px;
	height: 15px;
	padding: 10px;
	border: solid #0d0d0d 2px;
}
*/
#zip-search-dropdown{
	float:right;
}

#congress-member-info{
	width: 100%;
	margin-top: 30px;
}


#congress-member-info th{
	height: 35px;
    font-size: 13px;
    border-bottom: 3px solid white;
    color:white;
    text-transform: uppercase;
    font-weight:400;

}

.contact-info-heads{
	text-align: left;
	text-transform: uppercase;
}

#congress-database table{
	border-collapse: collapse;
}

#congress-member-info td{
   
    padding-top: 3px;
    padding-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
}

/*.tablelRow{
	 border-bottom: 1px solid #808080;
}
*/
.g-congress-img{
	max-height: 60px;
	-webkit-filter: grayscale(85%); 
    filter: grayscale(85%);
    opacity: 0.8;
}

.congress_photo_div{	
	max-height: 60px;
	max-width: 49px;
}

.r-img{
	background-color: #E32D7F;

}

.d-img{
	background-color: #2A99E8;
}


.g-congress-photo-container{
	width:70px;
}

.g-congress-name{
	width: 30%;
}

td.lowerRow{
	background-color: #181523;
	border-bottom: 1px solid #808080;
	
}

.expandable p{
	font-size: 13px;
}

.chamber-filter-panel{
	margin-bottom: 10px;
}

.chamber-filter{
	/*background-color: #014551;*/
	background-color: #3B3636;
	color: white;
	border:none;
	border-radius: 7px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	transition: all .25s;
	cursor: pointer;
}

.chamber-filter:hover{
	background-color: darkgrey;
}

.filter-enabled{
	background-color: darkgrey;
}

.more-entries{
	margin-top:30px;
    display:block;
}

.hide{
	display:none;
}

.url{
	color: white;
	margin: 20px !important;
}

i{
	padding: 30px;
}


/*Chosen related stuff*/
/*.control-panel{
	margin-top: 50px;
}*/
.chosen-container.chosen-container-single .chosen-single {
        text-align: left;
        /*width:200px;*/
        height: auto;
        padding: 5px 0 3px 2px;
        font-size: 1.2em;
        line-height: 1.2em;
        box-shadow: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        background: #fff;
        font-family: roboto;
        border-bottom: 2px solid white;
    }

/*.chosen-container.chosen-container-single .chosen-single div {

    }*/

.chosen-container.chosen-container-single .chosen-drop {
    min-width: 200px;
}
    
.chosen-container.chosen-container-single .chosen-results li {
    font-size: 24px;
    font-family: roboto;
    text-align: left;
}

.chosen-container.chosen-container-single .chosen-results li{
	font-size: 14px;
    font-family: roboto;
    text-align: left;
}

.chosen-container.chosen-container-single .chosen-results .highlighted{
	background: #eee;
    color: black;
}

.chosen-container.chosen-container-single .chosen-results .group-result{
	text-transform: uppercase;
}

.chosen-container-active.chosen-with-drop .chosen-single{
	background-image: none !important;
	/*background-color: white !important;*/
	border: none !important;
	/*border-bottom: solid black 1px !important;*/
}


